

.loading_bar{
  text-align: center;
}
.circle.active {
    background-color: #579AFF;
}

/* HEADER */
.navbar-brand img {
    height: 100%;
}
.nav_central {
    margin-left: 10%;
}
.navbar-default .navbar-nav>li>a  {
    color: black;
}

.btn_white {
    padding: 10px 15px !important;
    border-radius: 5px;
    color: #0043C1 !important;
    border: 1px solid #0043C1;
    background-color: white;
}
