

.btn_login {
    width: 100%;
    text-shadow:none
}
#btn_create {
    background-color: #579AFF;
    color: white;
}


#btn_google {
    background-color: white;
    color: black;
}

#btn_google img {
    height: 41px;
    float: left;
}